

require "sinatra"

get "/new"  do
<head>
  <title>My Home Page</title>
  <head>
    
  <body>
  <h1>Welcome <%@user%><h1>
  
  @user
  @item = []
  
  <p><%= @user %>, here is your to-do for today.    
    
    <ul>
      <li>@item</li>
      <li>@item</li>
    </ul>
    
  <p>
    
</body>

end
